extend layout

block content
  .container
    h3 Congrats #{user.name}, you are logged in.
    p Please type something to start chat with other FB users.
  #thread
    ul#chatthread
  form#sendmessage
    input(type="text", id="message", placeholder="Type a message...")
    input(type="hidden", id="name", value=user.name)
    button.btn#send.btn-danger
      i.icon-bolt
      |  Send

    script(src='/socket.io/socket.io.js')
    script(src='sock.js')


