extend layout

block content
  #thread
    ul#chatthread
  form#sendmessage
    input(type="text")#message
    input(type="hidden", id="name", value=user.name)
    button.btn#send.btn-danger
      i.icon-bolt
      |  Send

    script(src='/socket.io/socket.io.js')
    script(src='sock.js')


