extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          h1 Welcome to chat app.
          p Please login to start the app.
          a(href="/auth/facebook/callback") Login via Facebook
